# CREATE A MARKDOWN CELL

Data Science Tools and Ecosystem

In [ ]:
# Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#   Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
PYTHON
R
SQL
JULIA
SCALA
JAVA
MATLAB

In [ ]:
#  Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
NUMPY
PANDAS
MATPLOTLIB
SCIPY
SCIKIT LEARN
GGPLOT 2
DATA FRAMES.J1BREEZE
WEKA
DEEP LEARNING TOOL BOOX

In [ ]:
# Create a markdown cell with a table of Data Science tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [ ]:
# Create a markdown cell introducing arithmetic expression examples

In [ ]:
# Addition
3 + 5

# Subtraction
10 - 4

# Multiplication
7 * 6

# Division
8 / 2

# Exponentiation
2 ** 3

# Modulus (remainder of the division)
10 % 3

In [ ]:
# Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

In [ ]:
#  Insert a markdown cell to list Objectives

OBJECTIVES:
. PYTHON
.R
.SCALA

In [ ]:
#  Create a markdown cell to indicate the Author's name

## Author
SETHU CHOZHIYATTIL SURESH